<div class="header">
    <h1>How Strong is my Password</h1>     
</div>
<%= link_to 'Test Your Pasword', new_password_path %>

<br>
<br>
<table>
  <thead>
  <tr>
    <th>Top Passwords of 2020</th>
    <th>Top Passwords we have found</th>
  </tr>
  </thead>
  <%= topSubmitted = topTenSubmittedPasswords()%>
  <%= topCommon = topTenCommonPasswords() %>
  <tr>
    <td>1. <%=topCommon[0] %></td>
    <td>1. <%=topSubmitted[0] %></td>
  </tr>
  <tr>
    <td>2. <%=topCommon[1] %></td>
    <td>2. <%=topSubmitted[1] %> </td>
  </tr>
  <tr>
    <td>3. <%=topCommon[2] %></td>
    <td>3. <%=topSubmitted[2] %> </td>
  </tr>
  <tr>
    <td>4. <%=topCommon[3] %></td>
    <td>4. <%=topSubmitted[3] %></td>
  </tr>
  <tr>
    <td>5. <%=topCommon[4] %></td>
    <td>5. <%=topSubmitted[4] %></td>
  </tr>
  <tr>
    <td>6. <%=topCommon[5] %></td>
    <td>6. <%=topSubmitted[5] %></td>
  </tr>
  <tr>
    <td>7. <%=topCommon[6] %></td>
    <td>7. <%=topSubmitted[6] %></td>
  </tr>
  <tr>
    <td>8. <%=topCommon[7] %></td>
    <td>8. <%=topSubmitted[7] %></td>
  </tr>
  <tr>
    <td>9. <%=topCommon[8] %></td>
    <td>9. <%=topSubmitted[8] %></td>
  </tr>
  <tr>
    <td>10. <%=topCommon[9] %></td>
    <td>10. <%=topSubmitted[9] %></td>
  </tr>
</table> 

<br>

