<div class="header">
    <h1>Password Strength Calculator</h1>
	 

</div>
<div class="card show">
<%= render 'form', password: @password %>
</div>
		<% if num(@password.pass) < (10**12) %>
		<div class = "card bad">
		<ul class = "bad">
	<h4>Tips for Password Security</h4>
			<li>Current Password Strength: <b>BAD</b></li>
			<li> <%= compWithCommonDB(@password.pass)	%></li>
			<li><%= compWithDB(@password)	%></li>
			<% if upCount(@password.pass) !=3 %>
				<li><%= upCount(@password.pass)%></li>
			<% end %>
			<% if loCount(@password.pass) !=3 %>
				<li><%= loCount(@password.pass)%></li>
			<% end %>
			<% if symCount(@password.pass) !=3 %>
				<li><%= symCount(@password.pass)%></li>
			<% end %>
			<% if numCount(@password.pass) !=3 %>
				<li><%= numCount(@password.pass)%></li>
			<% end %>
			<% if lenCount(@password.pass) !=3 %>
				<li><%= lenCount(@password.pass)%></li>
			<% end %>
			<li>Omit Personal Data, i.e: Birthday</li>
		</ul>
		</div>
		<% elsif num(@password.pass) < (10**18) %> 
		<div class = "card okay">
		<ul class = "okay">
			<h4>Tips for Password Security</h4>
			<li>Current Password Strength: <b>OKAY</b></li>
			<li> <%= compWithCommonDB(@password.pass)	%></li>
			<li><%= compWithDB(@password)	%></li>
			<% if upCount(@password.pass) !=3 %>
				<li><%= upCount(@password.pass)%></li>
			<% end %>
			<% if loCount(@password.pass) !=3 %>
				<li><%= loCount(@password.pass)%></li>
			<% end %>
			<% if symCount(@password.pass) !=3 %>
				<li><%= symCount(@password.pass)%></li>
			<% end %>
			<% if numCount(@password.pass) !=3 %>
				<li><%= numCount(@password.pass)%></li>
			<% end %>
			<% if lenCount(@password.pass) !=3 %>
				<li><%= lenCount(@password.pass)%></li>
			<% end %>
			<li>Omit Personal Data, i.e: Last Name</li>
		</ul>
		</div>
		<% else %>
		<div class = "card great">
		<ul class = "great">
			<h4>Tips for Password Security</h4>
			<li>Current Password Strength: <b>GREAT</b></li>
			<li> <%= compWithCommonDB(@password.pass)	%></li>
			<li><%= compWithDB(@password)	%></li>
			<% if upCount(@password.pass) !=3 %>
				<li><%= upCount(@password.pass)%></li>
			<% end %>
			<% if loCount(@password.pass) !=3 %>
				<li><%= loCount(@password.pass)%></li>
			<% end %>
			<% if symCount(@password.pass) !=3 %>
				<li><%= symCount(@password.pass)%></li>
			<% end %>
			<% if numCount(@password.pass) !=3 %>
				<li><%= numCount(@password.pass)%></li>
			<% end %>
			<% if lenCount(@password.pass) !=3 %>
				<li><%= lenCount(@password.pass)%></li>
			<% end %>
			<li>Omit Personal Data, i.e: Phone Number</li>
		</ul>
		</div>
		<% end %>
</div>

<table class="easy-table">
	<thead>
		<tr class = "easy-row">
			<th class = "easy-h">Hour(s) to brute force</th>
			<th class = "easy-h">Day(s) to brute force</th>
			<th class = "easy-h">Week(s) to brute force</th>
			<th class = "easy-h">Strength Color</th>
		</tr>
	</thead>
	<thead>
		<tr class="easy-row">
			<td class = "easy-h"><%= hour(@password.pass)%></td>
			<td class = "easy-h"><%= day(@password.pass)%></td>
			<td class = "easy-h"><%= week(@password.pass)%></td>
			<% if num(@password.pass) < (10**12) %>
				<td class = "easy-h", style = "background-color:red;"></td>
			<% elsif num(@password.pass) < (10**18) %>
				<td class = "easy-h", style = "background-color: rgb(185, 185, 3);"></td>
			<% else %> 
				<td class = "easy-h", style = "background-color:green;"></td>
			<% end %>
		</tr>
	</thead>
</table>
<h2 class = "final-header">Helpful Resources</h2>
<div class = "row1">
	<div class = "col1">
		<h2><a href="https://www.pcmag.com/picks/the-best-password-managers" target="_blank">Password Managers</a></h2>
	</div>
	<div class = "col1">
		<h2><a href="https://nordpass.com/most-common-passwords-list/"target="_blank">Common Passwords</a></h2>
	</div>
	<div class = "col1">
		<h2><a href="https://ibmsystemsmag.com/IBM-Z/01/2016/improve-password-security"target="_blank">IBM Tips to Improve Password Security</a></h2>
	</div>
	<div class = "col1">
		<h2><a href="https://haveibeenpwned.com/PwnedWebsites"target="_blank">Known Breached Websites</a></h2>
	</div>
</div>

<hr>

<%= link_to 'Back', passwords_path %>
