<div class="header">
    <h1>Password Strength</h1>
     
</div>
<div class="card show">
<%= render 'form', password: @password %>

</div>

<br>
<div class = "info">
	<%= hour(@password.pass)%>
</div>
<div class = "info">
	<%= day(@password.pass)%>
</div>
<div class = "info">
	<%= week(@password.pass)%>
</div>

<div class = "info">
	<%= pass_strength(@password.pass)%>
</div>

<br>

<br>
 
<hr>
<P class = "info">this will be the updaes that we should think that they shuold make</P>

<%= link_to 'go back', passwords_path %>
<% if num(@password.pass) < 50 %>
	<body style="background-color:red;">
<% elsif num(@password.pass) < 5000 %> 
	<body style="background-color:yellow;">
<% else %> 
	<body style="background-color:lightgreen;">
<% end %>
